name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          go-version: '1.22'
          cache: false
      - uses: actions/checkout@v3
      - name: install deps
        run: |
          go get -u golang.org/x/tools/cmd/goimports
          go install golang.org/x/tools/cmd/goimports

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          # Optional: version of golangci-lint to use in form of v1.2 or v1.2.3 or `latest` to use the latest version
          version: latest
#          args: "run -v ./..."